.rmdb-header {
    //padding: 0 20px;
    box-sizing: border-box;
    position: fixed;
    z-index: 101;
    top: 0;
    transition: background-color 2000ms;
  }

  .rmdb-header-content {
   // max-width: 1280px;
    //min-height: 120px;
    //height: auto;
    padding: 20px 0px;
    margin: 0 auto;
    box-sizing: border-box;
    overflow: hidden;
  }

  .rmdb-logo{
    width: 120px;
    //margin-top: 9px;
    float: left;
  }

  .rmdb-tmdb-logo {
    width: 85px;
    margin-top: 14px;
    float: right;
  }
  .rmdb-header-collapse{
    background-color: #000000d9;
  }